*netrwhist
**/packer_compiled.vim
**/packer_compiled.lua
**/tags
**/GPATH
**/GRTAGS
**/GTAGS
**/.nrepl-port
**/mylib.lua
**/utils.lua
**/test2.lua
**/core
**/nohup.out
**/sessionmgr
**/lazy-lock.json
**/.luarc.json
